@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
    background-color: #eff2f1;
}
#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.panel {
    color: #eff2f1;
    background-color: #4059ad;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.katex {
    font-size: 2.5em;
}

#variables {
    padding-left: 0;
    list-style: none;
    width: 20vw;
}

#variables li {
    margin-left: 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

#variables li label {
    flex: 2;
    margin-right: 5px;
    text-align: right;
}

#variables li input {
    width: auto;
}

button {
    background-color: #f4b942;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
